<section class="bsb-hero-5 px-3 bsb-overlay" style="background-image: url('https://png.pngtree.com/png-clipart/20230824/original/pngtree-vintage-tickets-ticket-cinema-movie-picture-image_8429885.png');">
  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7">
        <h1 class="display-1 text-white text-center fw-bold mb-4 hero-title">Le mie prenotazioni</h1>
      </div>
    </div>
  </div>
</section>

<div class="booking-container container my-5">
  <h2>🎟️ Le tue prenotazioni</h2>

  <!-- Loading -->
  <div *ngIf="isLoading" class="loading">
    Caricamento prenotazioni...
  </div>

  <!-- Error -->
  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <!-- Lista prenotazioni -->
  <div *ngIf="!isLoading && !errorMessage && reservations.length > 0" class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let reservation of reservations">
      <div class="reservation-item h-100">
        <h5 class="mb-2 text-uppercase">{{ reservation.eventTitle }}</h5>
        <p><strong>📍 Luogo:</strong> {{ reservation.eventLocation }}</p>
        <p><strong>📅 Data evento:</strong> {{ reservation.eventDate | date: 'dd/MM/yyyy' }}</p>
        <p><strong>🕒 Prenotato il:</strong> {{ reservation.date | date: 'dd/MM/yyyy' }}</p>
        <div class="d-flex justify-content-end mt-3">
        <button
          class="btn btn-sm d-flex align-items-center gap-1"
          style="background-color: #ac8905; color: white;"
          (click)="removeReservation(reservation.uuid || '')">
          <i class="bi bi-trash3"></i> Elimina prenotazione
        </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Nessuna prenotazione -->
  <div *ngIf="!isLoading && !errorMessage && reservations.length === 0" class="loading">
    Nessuna prenotazione trovata.
  </div>
</div>
