<section class="bsb-hero-5 px-3 bsb-overlay" style="background-image: url('https://png.pngtree.com/png-clipart/20230824/original/pngtree-vintage-tickets-ticket-cinema-movie-picture-image_8429885.png');">
  <div class="container">
    <div class="row justify-content-md-center align-items-center">
      <div class="col-12 col-md-11 col-lg-9 col-xl-8 col-xxl-7">
        <h1 class="display-1 text-white text-center fw-bold mb-4 hero-title">Le mie prenotazioni</h1>
      </div>
    </div>
  </div>
</section>

<div class="booking-container">
  <h2>Le tue prenotazioni</h2>

  <div *ngIf="isLoading" class="loading">
    Caricamento prenotazioni...
  </div>

  <div *ngIf="errorMessage" class="error">
    {{ errorMessage }}
  </div>

  <ul *ngIf="!isLoading && !errorMessage && reservations.length > 0" class="reservation-list">
    <li *ngFor="let reservation of reservations" class="reservation-item">
      <strong>Luogo dell'Evento:</strong> {{ reservation.eventLocation }}<br />
      <strong>Nome dell'Evento:</strong> {{ reservation.eventTitle }}<br />
      <strong>Data dell'Evento:</strong> {{ reservation.eventDate | date:'dd/MM/yyyy' }}<br />
      <strong>Data della Prenotazione:</strong> {{ reservation.date | date:'dd/MM/yyyy' }}
      <button (click)="removeReservation(reservation.uuid || '')">Elimina prenotazione</button>
    </li>
  </ul>

  <div *ngIf="!isLoading && !errorMessage && reservations.length === 0">
    Nessuna prenotazione trovata.
  </div>
</div>
