<div class="container-fluid event-form d-flex p-2 m-2 flex-column justify-content-center align-items-center">
  <!-- Titolo della sezione di ricerca eventi -->
  <h2 class="text-center">Cerca Eventi</h2>

  <!-- Form di ricerca eventi con binding Reactive Forms e submit -->
  <form [formGroup]="eventForm" (ngSubmit)="onSubmit()" class="styled-form">

    <!-- Campo input per il titolo dell'evento -->
    <div class="container form-group d-flex p-2 justify-content-between">
      <label for="title">Titolo</label>
      <input type="text" id="title" formControlName="title" />
    </div>

    <!-- Campo input per la data di inizio ricerca -->
    <div class="container form-group d-flex p-2 align-items-center justify-content-around">
      <label for="dateFrom">Data Inizio</label>
      <input type="date" id="dateFrom" formControlName="dateFrom" />
    </div>

    <!-- Campo input per la data di fine ricerca -->
    <div class="container form-group d-flex p-2 align-items-center justify-content-around">
      <label for="dateTo">Data Fine</label>
      <input type="date" id="dateTo" formControlName="dateTo" />
    </div>

    <!-- Campo input per il luogo dell'evento -->
    <div class="container form-group d-flex p-2 align-items-center justify-content-around">
      <label for="location">Luogo</label>
      <input type="text" id="location" formControlName="location" />
    </div>

    <!-- Select dropdown per la categoria evento -->
    <div class="container form-group d-flex p-2 align-items-center justify-content-around">
      <label for="category">Categoria evento</label>
      <select formControlName="category">
        <!-- Ciclo sulle opzioni di categoria disponibili -->
        @for (option of categoryOptions; track option) {
        <option
          [disabled]="option === 'EMPTY'"
          [value]="option">
          {{ option }}
        </option>
        }
      </select>
    </div>

    <!-- Pulsante per inviare il form di ricerca -->
    <button class="submit-button">Cerca</button>
  </form>
</div>

<!-- Messaggio di avviso se la ricerca è stata effettuata ma non ci sono risultati -->
@if (searchExecuted && events.length === 0) {
<div class="no-results">
  <p>Nessun evento trovato.</p>
</div>
}

<!-- Se ci sono eventi nella lista, mostra i risultati -->
@if (events.length > 0) {
<div class="event-results">
  <!-- Ciclo sugli eventi trovati -->
  @for (ev of events; track ev.uuid) {
  <div class="event-card">
    <h3>{{ ev.title }}</h3>
    <p><strong>Data:</strong> {{ ev.date | date: 'dd-MM-yyyy'}}</p>
    <p><strong>Luogo:</strong> {{ ev.location }}</p>
    <p><strong>Categoria:</strong> {{ ev.eventCategory }}</p>
    <!-- Pulsante per navigare al dettaglio evento -->
    <button (click)="onSelectEvent(ev.uuid)" class="details-button">Dettagli</button>
    <!-- Pulsante per prenotare l'evento -->
    <button (click)="onReservationButton(ev.uuid)" class="details-button">Prenota</button>
  </div>
  }
</div>
}
