<div>
  <h2>Eventi</h2>

  <!-- Loading -->
  @if (isLoading) {
  <div>Caricamento eventi...</div>
  } @else if (errorMessage) {
  <div>
    {{ errorMessage }}
  </div>
  } @else if (!isLoading && !errorMessage && events.length > 0) {
  <ul>
    <li *ngFor="let item of events">
      {{ item.title }}
      <button (click)="onEventSelected(item)" class="btn-link">Dettagli</button>
    </li>
  </ul>
  } @else if (!isLoading && !errorMessage && events.length === 0) {
  <div>
    Nessun evento trovato.
  </div>
  }
</div>
