.event-detail-card {
  font-family: "Segoe UI", sans-serif;
  color: #0c0b0b;
  box-shadow: 0 3px 10px rgba(92, 74, 8, 0.1);
  transition: box-shadow 0.3s ease;
}

.event-detail-card:hover {
  box-shadow: 0 6px 20px rgba(172, 137, 5, 0.3);
}

.event-detail-card ul li {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

.event-detail-card button {
  margin-top: 1.5rem;
  font-weight: 600;
}
