<div *ngIf="isLoading">MARCO ASPETTA</div>

<div *ngIf="!isLoading && user">
  <h2>Profilo Utente</h2>

  <div *ngIf="!editMode">
    <p><strong>Nome:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Ruolo:</strong> {{ user.role }}</p>
    <button (click)="enableEdit()">Modifica</button>
    <button (click)="deleteProfile()">Cancella Profilo</button>
  </div>

  <div *ngIf="editMode && editableUser">
    <p>
      <strong>Nome:</strong>
      <input [(ngModel)]="editableUser.name" />
    </p>
    <p>
      <strong>Email:</strong>
      <input [(ngModel)]="editableUser.email" />
    </p>
    <p><strong>Ruolo:</strong> {{ user.role }}</p>
<button class="primary" (click)="saveEdit()">Salva</button>
<button class="outline" (click)="cancelEdit()">Annulla</button>
<button class="danger" (click)="deleteProfile()">Cancella Profilo</button>
  </div>
</div>

<div *ngIf="!isLoading && !user">
  <p>Utente non trovato</p>
</div>
